<!DOCTYPE html>
<html>
  <head>
    <title>Wine.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="logoContainer">
      <img class="logo" src="http://cache1.wine.com/assets/logo.png" alt="Wine.com logo">
    </div>
    <div class="header">
      <div class="row">
        <a class="menuItem" href="#">Wine</a>
        <a class="menuItem" href="#">Gifts</a>
        <a class="menuItem" href="#">Discover</a>
        <div class="searchWrapper">
          <input class="searchBox" type="text" placeholder="Search Wine.com">
        </div>
      </div>
    </div>
      <img class="grapes" src="./images/grapes.jpg" alt="Grapes">
  </body>
</html>
