* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  min-width: 960px;
  border-top: 10px solid #b71f39;

}

.logo{
  padding: 30px;
  display: block;
  margin: auto;
}


.logoContainer{
  border-bottom: 1px solid #e6e6e6;
}

.header {
    width: 100%;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    color: #fff;
    height: 42px;
}

.row{
  width: 100%%;
}

.menuWrapper{
  display: block;
}

.menuItem{
  padding: 6px;
  color: #303239;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.menuItem:hover{
  background-color: #b71f39;
  color: white;
}

.searchWrapper {
  display: block;
  justify-content: center;
}

.searchBox{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  width: 80%;
  height: 20px;
  font-size: 15px;
}

.dropDown{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: white;
  height: 20px;
  width: 18%;
}

.accountWrapper{
  display: flex;
}

.accountItem{
  justify-content: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #303239;
  white-space: nowrap;
  margin-top: 2px;
  text-decoration: none;
  padding: 6px;
}


.grapes {
  width: 100%;
  height: 100%;
  /*?*/
  background-size: contain;

}
